<input type="text" id="producto" placeholder="introduzca un producto">
<button id="sendButton">Enviar</button>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>